html *
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

div.main
  border: 1px solid black
  border-radius: 10px
  height: 95px
  width: auto
  line-height: 95px
  overflow: hidden
  float: left
  padding-right: 10px

  button.profit
    vertical-align: top
    font-family: 'comic sans'
    font-size: 35px
    padding: 20px
    cursor: pointer
    position: relative
    top: 0
    background: #00b
    box-shadow: 0 10px 0 #008
    border-radius: 10px

    &:hover
      background: #00f
      box-shadow: 0 10px 0 #00b

    &:active
      box-shadow: none
      top: 10px

  img.money
    vertical-align: middle
    width: 90px

  span.money
    vertical-align: middle
    font-family: 'comic sans'
    font-size: 38px
    color: green

button.buyClickUpgrade
  background-color: transparent
  background-image: url(http://www.clipartkid.com/images/664/mouse-red-click-clip-art-at-clker-com-vector-clip-art-online-uWrUsN-clipart.png)
  background-size: 90px 90px
  background-repeat: no-repeat
  border: 1px solid gray
  width: 90px
  height: 90px
  cursor: pointer
  margin: 3px

.items
  clear: both
